<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orpheus-nator</title>
</head>
<body>
    <h1>{{ question }}</h1>
    <form action="/question" method="post">
        <div>
            <input type="radio" id="yes" name="answer" value="yes">
            <label for="yes">Yes</label>
        </div>
        <div>
            <input type="radio" id="no" name="answer" value="no">
            <label for="no">No</label>
        </div>
        <div>
            <input type="radio" id="idk" name="answer" value="I don't know">
            <label for="idk">I don't know</label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
