<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orpheus-nator</title>
</head>
<body>
    <h1>{{ question }}</h1>
    <form action="/question" method="post">
        <button type="submit" name="answer" value="yes">Yes</button>
        <button type="submit" name="answer" value="no">No</button>
        <button type="submit" name="answer" value="idk">I don't know</button>
        <button type="submit" name="answer" value="probably">Probably</button>
        <button type="submit" name="answer" value="probably not">Probably not</button>
    </form>
</body>
</html>
